<div class="col-xxl-8">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="assets/images/hero.png" width="700"  loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="fw-bold lh-1 mb-3">Post Comment App</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusantium ad assumenda at commodi eos est expedita facere fugit,
        incidunt magnam minima qui reiciendis sint sunt
        tempora voluptas voluptatem. Accusantium, repellendus!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a routerLink="/signin" class="btn btn-primary btn-lg px-4 me-md-2">Login</a>
      </div>
    </div>
  </div>
</div>
