<nav class="navbar navbar-expand-lg navbar-light bg-dark" id="navbar" xmlns="http://www.w3.org/1999/html">
  <div class="container ">
    <a class="navbar-brand text-white" routerLink="#">Cintai Coding</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="#">Post</a>
        </li>
      </ul>
      <div class="d-flex">

        <a href="/dashboard/{{user.id}}/{{user.id}}" class="nav-link active text-white">
          <span class="text-white fw-bold">Wellcome, </span>
          <span class="text-primary fw-bold">{{user.name}}</span>
        </a>

        <a href="/" class="nav-link active text-white">
          <span class="text-warning fw-bold">Logout</span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="justify-content-center row">
  <div class="col-md-6">
    <a href="dashboard/{{user.id}}" class="btn text-primary my-2">
      <i class="fa fa-arrow-left"></i>
    </a>
    <div class="card border-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 text-center pt-5">
            <app-user-item [user]="user"></app-user-item>
          </div>
          <div class="col-md-10">
            <p class="mt-3 font-weight-bold"> {{ posts.title }}</p>
            <p class="mt-3"> {{ posts.body }} </p>

            <button class="btn">
               <span class="mx-3 text-primary" (click)="commentToggle()">
             <i class="fa fa-comment"></i>
                 {{comments.length}}
            </span>
            </button>
            <span *ngIf="commentShow">
                 <p class="mt-3 fw-bold">All Comment</p>
            <div class="row" *ngFor="let comment of comments">
              <div class="col">
                <app-comment-item [comment]="comment"></app-comment-item>
              </div>
            </div>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
