<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Aditya Nugroho Subono</strong>
        <h3 class="mb-0">About Me</h3>
        <p class="card-text mb-auto">
          Mobile Developer iOS at PT. Infosys Solusi Terpadu
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="assets/images/aditya_crop_11zon.jpg" width="170px" height="250px">
      </div>
    </div>
  </div>
</div>
